*{
  background-size: cover;
}


.d-none {
  display: none !important;
}

.fw-bolder {
  font-weight: bolder !important;
  background-color: #ffab2c;
  border-radius: 20px;
  width: 26%;
  margin-left: 36%;
  color: #000;
}


.content{
  margin-top: 60px;
  width: 25%;
  position: absolute;
}

img{
  width: 100%;
  height: 61rem;
}

button{
  margin-left: 37%;
  margin-top: 10px;
  background-color: rgb(52, 204, 29);
  color: white;
}


button:hover{
 
  background-color: rgb(18, 118, 233);

}

h1{
  font-weight: bold;
  color:rgb(224, 181, 37);
  font-size: 22px;
}

.adver{
  margin-top: -20px;
  margin-bottom: 10px;
  color: red;
  font-size: 15px;
  width: 300px;
}

.btn{
  border-color: #1a98e7;
    color: white;
}



@media screen and (max-width: 375px){
  .leter{
    width: 500px;
    margin-left: 6px;
  }

  .tamano{
    width: 300px;
  }
  
  .ez{
    margin-left: -250px;
  }

  button{
    background-color: rgb(52, 204, 29);
    color: white;
  }

  .btn{
    border-color: #1a98e7;
    color: white;
    margin-left: 115px;
  }


  .img-2{
    width: 500px;
    height: 755px;
  }
}



@media screen and (max-width: 425px){
  .leter{
    width: 500px;
    margin-left: 6px;
  }

  .tamano{
    width: 300px;
  }
  
  .ez3{
    margin-left: -220px;
  }

  button{
    background-color: rgb(52, 204, 29);
    color: white;
  }

  .btn{
    border-color: #1a98e7;
    color: white;
    margin-left: 115px;
  }


  .img-2{
    width: 500px;
    height: 755px;
  }

}

