
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  
  <mat-toolbar color="primary" class="example-toolbar color-blue" >
    <button mat-icon-button (click)="snav.toggle()">  <i class='bx bx-menu bx-flashing' style='color:#e6bc12' ></i></button>
    <h1 class="example-app-name">MENÚ CURRÍCULUM VITAE</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
                         
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                 <img src="assets/img/miler44.jpg" alt="Miler Arnez Ponce">
                 <h1>MILER ARNEZ PONCE</h1>
      <mat-nav-list>

        <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav" class="color-3">
    
          <i class='bx bxs-right-arrow bx-flashing' style='color:#25af94' >{{nav.icon}}</i>
         
          {{nav.name}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
      <div class="caja" >
        
      <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



