* {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}


img{
  width: 200px;
  height: 260px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 55%;
  margin-bottom: 20px;
  opacity: 0.8; 
  border-style: double;
  border-color: #73847c;
}

h2{
  text-align: center;
  font-weight: bold;
  color:rgb(224, 181, 37);
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 20px;
}

.example-sidenav-container {
  
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-sidenav{
  background-color: rgb(58, 56, 56);  
}


.color-3:hover{
  color: white;
  background-color: #2196F3;
}

h1{
  color:yellow;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.caja{
  width: 100%;
  overflow: hidden;
  background-color: rgb(49, 46, 46);
}


.bx-menu{
  font-size: 30px;
  background-color: rgb(49, 46, 46);
  padding-top: 1px;
  padding-left: 0;
  padding-bottom: -1px;
  margin-bottom: -7px;
  margin-top: 2px;
}

.color-blue{
  background-color: rgb(10, 123, 184);
}

.color-3{
  color: white;
}


@media screen and (max-width: 375px){
  .text1{
    font-size: 20px;
  }
}






