.container{
  width: 100%;
  margin-left: 4%;
}

h1{
  font-weight: bold;
  color: rgb(247, 196, 14);
  margin-top: 35px;
  margin-left: 7px;
}

b{
  color: rgb(34, 120, 233);
}

.infor{
  margin-bottom: 50px;
}

.text-11{
  color: white;
}

span{
  color: white;
}

@media screen and (max-width: 375px){
  .class{
    margin-left:3px;
  }
  
  .modi{
    font-size: 15px;
  }

  .img-1{
    margin-left: 56px;
  }

  .tex-4{
    margin-left: -35px;
  }

  .progreso{
    width: 311px;
  }
}

@media screen and (max-width: 425px){
  .class2{
    margin-left: 0;
  }

  .e2{
    margin-left: 90px;
  }

  .progreso{
    width: 311px;
    margin-left: 50px;
  }


}

