<div class="card">
  <div class="card-body">
    <!-- FORM TO ADD TASKS -->
    <form ngNativeValidate (submit)="addTask(newNombre, newDescription ,newApellido,newEmail,newCelular,newFecha,newHora)">
      <div class="form-group">
        <input type="text" placeholder="Nombres" #newNombre class="form-control" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
      </div>

      <div class="form-group">
        <input type="text" placeholder="Apellidos" #newApellido class="form-control" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Correo Electrónico" #newEmail class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  required>
      </div>
      <div class="form-group">
        <input type="text" placeholder="Celular" #newCelular class="form-control" pattern="^[0-9]+" required>
      </div>
      <div class="form-group">
        <input type="date" placeholder="Fecha" #newFecha class="form-control" required>
      </div>
      <div class="form-group">
        <input type="date" placeholder="Hora" #newHora class="form-control" type="time" name="hora" step="3600" required>
      </div><br>


      <div class="form-group">
        <textarea #newDescription cols="30" rows="10"  class="form-control" placeholder="Descripcion" data-pattern="^.{1,255}$" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Enviar</button>
    </form>
  </div>
</div>

