
.container{
  height: 800px;
}

img{
  border-style: double;
  border-color: rgb(107, 119, 116);
  width: 240px;
  height: 330px;
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  float: left;
  margin-right: 100px;
  border-radius: 20px;
  opacity: 0.8; 
}


h1{
  font-weight: bold;
  color: rgb(247, 196, 14);
  margin-top: 35px;
  margin-left: 20px;
}

h2{
  color:rgb(34, 120, 233);
  margin-left: 60px;
  margin-top: 30px;
  display: block;
}

span{
  margin-left: 10px;
  margin-top: 37px;
  font-size: 20px;

}

b{
  color: white;
}


.mat-progress-bar{
  width: 400px;
  margin-left: 20px;
  height: 10px;
  border-radius: 10px;
}

h5{
  margin-left: 20px;
  margin-bottom: 10px;
}

.hab{
  float: left;
  margin-right: 5%;
}


.hab2{
 float: left;
 margin-top: 7.4%;
}


.bxl-html5{
  font-size: 55px;
}

.bxl-css3{
  font-size: 55px;
}

.bxl-javascript{
  font-size: 55px;
}

.bxl-angular{
  font-size: 55px;
}

.bxl-bootstrap{
  font-size: 55px;
}

@media screen and (max-width: 375px){
  .text-3{
    font-size: 20px;
    
  }

  .img-1{
    margin-left: 56px;
  }

  .tex-4{
    margin-left: -35px;
  }

  .progreso{
    width: 311px;
  }
}


@media screen and (max-width: 425px){
  .ez2{
    margin-left: 85px;
  }

  .e2{
    margin-left: 75px;
  }

  .progreso{
    width: 311px;
    margin-left: 50px;
  }


}


